<section id="intro" class="section">
    <img class="main-logo" src="images/AC_Logo_Black.png" alt="AC_Logo_Black.png">
    <h2 class="logo-name">Alfred Choi</h2>
    <div class="logo-title">Software Developer</div>
    <p>
        A motivated and passtionate web developer with over 5 years of hands on experience in the industry. The majority of my experience comes from working with the Microsoft Stack. However, I also have experience working the LMAP Stack.
    </p>
</section>

<section id="technologies" class="section">
    <i class="fa fa-code fa-2x"></i>
    <h4 class="section-title">Technologies</h4>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-left">Technology</th>
          <th class="text-right">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="technology in technologies">
          <td class="text-left">{{technology.name}}</td>
          <td class="text-right">{{technology.rating}} / 10</td>
        </tr>
      </tbody>
    </table>
</section>

<section id="experience" class="section">
    <i class="fa fa-laptop fa-2x"></i>
    <h4 class="section-title">Experience</h4>

    <div ng-repeat="experience in experiences" class="experience-container">
      <span class="experience-period">{{experience.period}}</span>
      <p class="experience-title">{{experience.title}}</p>
      <p class="experience-company-name">{{experience.company.name}}</p>
      <ul class="text-left">
        <li ng-repeat="responsibility in experience.responsibilities">
          {{responsibility}}
        </li>
      </ul>
    </div>
</section>

<section id="education" class="section">
    <i class="fa fa-graduation-cap fa-2x"></i>
    <h4 class="section-title">Education</h4>
</section>

<section id="contact" class="section">
    <i class="fa fa-envelope fa-2x"></i>
    <h4 class="section-title">Contact Me</h4>


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere in nibh nec porta. Suspendisse pulvinar orci ac elit dapibus, sed egestas dolor volutpat. Praesent iaculis, ipsum a placerat pretium, odio tellus molestie eros, ut condimentum ligula ligula ac enim.
    </p>

    <div class="row">
        <form role="form" class="text-left contact-form col-md-8 col-md-offset-2  well well-lg">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email Address">
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" placeholder="Message" class="form-control"></textarea>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>