<section id="intro">
    <img class="main-logo" src="images/AC_Logo_Black.png" alt="AC_Logo_Black.png">
    <h2 class="logo-name">Alfred Choi</h2>
    <div class="logo-title">Software Developer</div>
    <p class="text-left">
        A motivated and passtionate web developer with over 5 years of hands on experience in the industry. The majority of my experience comes from working with the Microsoft Stack. However, I also have experience working the LMAP Stack.
    </p>
</section>

<section id="achievements">
    <div class="section-header">
        <i class="fa fa-trophy fa-2x"></i>
        <h4 class="section-title">Achievements</h4>
    </div>

    <div ng-repeat="section in achievements" class="job-container">
        <a target="_BLANK" href="{{section.company.link}}">
            <img class="company-logo" src="{{section.company.image}}" alt="{{section.company.image}}">
        </a>
        <ul>
            <li class="text-left" ng-repeat="achievement in section.achievements">{{achievement}}</li>
        </ul>
    </div>
</section>

<section id="technologies">
    <div class="section-header">
        <i class="fa fa-gears fa-2x"></i>
        <h4 class="section-title">Technologies</h4>
    </div>

    <table class="table table-striped" ng-repeat="technology in technologies">
        <thead>
            <tr>
                <th class="text-left">{{technology.section}}</th>
                <th class="text-right">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in technology.technologies">
                <td class="text-left">{{entry.name}}</td>
                <td class="text-right">{{entry.rating}} / 10</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="experience">
    <div class="section-header">
        <i class="fa fa-laptop fa-2x"></i>
        <h4 class="section-title">Experience</h4>
    </div>

    <div ng-repeat="experience in experiences" class="experience-container">
        <div class="experience-company-logo text">
            <a target="_BLANK" href="{{experience.company.link}}">
                <img class="company-logo" src="{{experience.company.image}}" alt="{{experience.company.image}}">
            </a>
            <p class="text-left">{{experience.company.description}}</p>
        </div>
        <div class="row">
            <div class="experience-description-container col-md-8 text-left">
                <p class="experience-title">{{experience.title}}</p>
                <p class="experience-company-name">{{experience.company.name}}</p>
                <p class="experience-company-location">{{experience.company.location}}</p>
            </div>
            <div class="experience-period col-md-4 text-right">
                <span>{{experience.period}}</span>
            </div>
        </div>
        <ul class="text-left">
            <li ng-repeat="responsibility in experience.responsibilities">
                {{responsibility}}
            </li>
        </ul>
    </div>
</section>

<section id="education">
    <div class="section-header">
        <i class="fa fa-graduation-cap fa-2x"></i>
        <h4 class="section-title">Education</h4>
    </div>

    <div ng-repeat="program in education" class="experience-container">
        <div class="education-company-logo text-left">
            <a target="_BLANK" href="{{program.institution.link}}">
                <img class="company-logo" src="{{program.institution.image}}" alt="{{program.institution.image}}">
            </a>
        </div>
        <div class="row">
            <div class="experience-description-container col-md-8 text-left">
                <p class="experience-title">{{program.program}}</p>
                <p class="experience-company-name">{{program.institution.name}}</p>
                <p class="experience-company-location">{{program.institution.location}}</p>
            </div>
            <div class="experience-period col-md-4 text-right">
                <span>{{program.period}}</span>
            </div>
        </div>
        <ul class="text-left">
            <li ng-repeat="responsibility in experience.responsibilities">
                {{responsibility}}
            </li>
        </ul>
    </div>
</section>

<section id="contact">
    <div class="section-header">
        <i class="fa fa-envelope fa-2x"></i>
        <h4 class="section-title">Contact Me</h4>
    </div>

    <div class="row">
        <form role="form" class="text-left contact-form col-md-8 col-md-offset-2  well well-lg">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email Address">
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" placeholder="Message" class="form-control"></textarea>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>
